@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root {
    --font-family: 'Spartan', sans-serif;
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-family);
    font-size: 12px;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

.attribution a {
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 66% 33%;
}

.top-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 59.5% 10% 30.5%;
    grid-template-rows: 90% 10%;
}

.top-left-section {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    
}

.image-section {
    height: 100%;
    max-width: 100%;
    background-image: url('../images/desktop-image-hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-left-section header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 5rem;
    padding: 4rem;
    align-items: center;
}

.top-left-section nav ul{
    display: flex;
    gap: 3rem;
}

.top-left-section nav ul li a {
    color: white;
    text-transform: lowercase;
    font-size: 1.1rem;
}

.slider-buttons-div {
    grid-column: 2;
    grid-row: 2;
}

.slider-buttons-div button {
    width: 50%;
    height: 100%;
    outline: black;
    background: black;
    border: none;
}

.top-right-section {
    grid-column: 2 / -1;
    grid-row: 1;
}

.top-right-description {
    margin: 8rem;
}

.top-right-description > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3rem;
}

.top-right-description div p:first-child {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.05rem;

}

.top-right-description div p:nth-child(2) {
    line-height: 1.7rem;
    color: var(--dark-gray);
    padding-bottom: 1rem;
}

.top-right-description div span a{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.top-right-description div span img {
    padding-left: 2rem;
}

.bottom-section {
    display: flex;
}

.bottom-middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.bottom-middle-section p:first-child {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.bottom-middle-section p:nth-child(2) {
    line-height: 1.7rem;
    color: var(--dark-gray);
}

@media screen and (max-width: 375px) {

    body {
        overflow: auto;
        width: 100vw;

    }

    #container {
        grid-template-rows: 1fr 1fr;
    }

    .top-section {
        grid-template-columns: 65% 35%;
        grid-template-rows: 40% 10% 50%;
    }

    .top-left-section {
        grid-column: 1 / -1;
        grid-row: 1 / 3;
    }

    .top-right-section {
        grid-column: 1 / -1;
        grid-row: 3;
    }

    .slider-buttons-div {
        grid-column: -1;
        grid-row: 2;
    }

    .bottom-section {
        flex-direction: column;
    }
}
