// Variables

// Font family
$font-stack: 'Be Vietnam', sans-serif;

// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-grey: hsl(0, 0%, 98%);

$focus-red: hsl(12, 79%, 71%);

/* ------------------------------- BOTTOM BANNER --------------------------------- */
#bottom-banner {
    height: auto;
    background: $bright-red;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 5em 2em;
    position: relative;

    h2 {
        color: white;
        font-size: 2.5em;
        font-weight: 700;
        text-align: center;
    }

    a {
        text-align: center;

        button {
            background-color: white;
            color: $bright-red;
            
        }

        button:hover, button:focus {
            color: $focus-red;
        }
    }
}

#bottom-banner::before {
    position: absolute;
    content: '';
    width: 94px;
    height: 302px;
    // max-width: 50%;
    // max-height: 50%;
    background-image: url('/images/bg-simplify-section-mobile.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    margin: -30px 0 0 -30px;
  
    
}