// Variables

// Font family
$font-stack: 'Be Vietnam', sans-serif;

// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-grey: hsl(0, 0%, 98%);

$focus-red: hsl(12, 79%, 71%);

/* --------------------------------- HEADER ----------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3em 1.5em 1em 1.5em;
    position: relative;

    #logo {
        width: 146px;
        height: 24px;
    }

    #open-menu {
        display: block;
    }

    #close-menu {
        display: none;
        z-index: 10;
    }

    #mobile-menu-wrapper {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom, rgba(129, 94, 94, 0.1), rgba(0, 0, 0, .5));
        
    }

    .header-nav {
        display: none;
        position: absolute;
        margin: 4em auto;
        width: 86%;
        height: auto;

        ul {
            display: flex;
            flex-direction: column;
            background: white;
            align-items: center;
            padding: 1.5em 0;
            width: 100%;

            li {
                list-style: none;
                padding: .7em 0;

                a {
                    color: $dark-blue;
                    font-weight: 700;
                }

                a:hover, a:focus {
                    color: $dark-grayish-blue;
                }
            }
        }
    }

    #header-get-started {
        display: none;
    }
}