// Variables

// Font family
$font-stack: 'Be Vietnam', sans-serif;

// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-grey: hsl(0, 0%, 98%);

$focus-red: hsl(12, 79%, 71%);

/* ---------------------------------- SECTION 1 ------------------------------- */
#section-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2em 1.5em;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .section-1-introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2.5em;
            color: $dark-blue;
            font-weight: 700;
            text-align: center;
            padding-bottom: .2em;
        }

        p {
            font-weight: 400;
            color: $dark-grayish-blue;
            text-align: center;
            line-height: 1.8em;
            padding-bottom: 2em;
        }

    }
}