// Variables

// Font family
$font-stack: 'Be Vietnam', sans-serif;

// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-grey: hsl(0, 0%, 98%);

$focus-red: hsl(12, 79%, 71%);

/* --------------------------------- SECTION 3 ------------------------------- */
#section-3 {
    display: flex;
    flex-direction: column;
    
    h2 {
        font-size: 2em;
        color: $dark-blue;
        text-align: center;
        padding-bottom: 2em;
    }

    .review-slider {
        display: flex;
        overflow-x: scroll;
        
        .review {
            flex: 1 0 90%;
            display: flex;
            flex-direction: column;
            position: relative;
            background: $very-light-grey;
            margin: 45px 5% 0 5%;
            padding: 2em 1em;

            img {
                margin: 0 auto;
                margin-top: -70px;
                width: 80px;
                clip-path: circle(100px at center);
                object-fit: scale-down;
                background: transparent;
            }

            .review-bottom-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                cite {
                    text-align: center;
                    font-style: normal;
                    color: $dark-blue;
                    font-weight: 700;
                    padding: 1em 0;
                }
    
                blockquote {
                    text-align: center;
                    color: $dark-grayish-blue;
                    font-weight: 400;
                    line-height: 1.8em;
                }
            }
        }
    }

    .slide-number {
        margin: 0 auto;
        display: flex;
        gap: 5px;
        padding-top: 1.5em;

        .slide-circle {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: 1px solid $bright-red;

            
        }

        .active {
            background: $bright-red;
        }
    }

    a {
        margin: 0 auto;
        padding: 2.5em 0;
    }
}