@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

// Font family
$font-stack: 'Be Vietnam', sans-serif;

// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-grey: hsl(0, 0%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: $font-stack;
    position: relative;
    padding-bottom: 20px;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ------------------------------------ GENERAL RULES -------------------------------- */

a {
    text-decoration: none;
}

.get-started-button {
    font-family: $font-stack;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 35px;
    background: $bright-red;
    position: relative;
    // box-shadow: 0px 2px 15px 0px $bright-red;
}

.get-started-button::after {
        content:"";
        position:absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        bottom:1px;
        z-index:-1;
        transform:scale(.9);
        box-shadow: 0px 0px 15px 4px $bright-red;
    
}

/* -------------------------------- CONTAINER ---------------------------------- */
#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* --------------------------------- HEADER ----------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3em 1.5em 1em 1.5em;

    #logo {
        width: 146px;
        height: 24px;
    }

    #close-menu {
        display: none;
    }

    #mobile-menu-wrapper {
        display: none;
    }

    .header-nav {
        display: none;
    }

    #header-get-started {
        display: none;
    }
}

/* --------------------------------- MAIN CONTENT ------------------------------- */
main {
    display: flex;
    flex-direction: column;
}

/* ---------------------------------- SECTION 1 ------------------------------- */
#section-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2em 1.5em;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .section-1-introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2.5em;
            color: $dark-blue;
            font-weight: 700;
            text-align: center;
            padding-bottom: .2em;
        }

        p {
            font-weight: 400;
            color: $dark-grayish-blue;
            text-align: center;
            line-height: 1.8em;
            padding-bottom: 2em;
        }

    }
}

/* ---------------------------------- SECTION 2 ------------------------------------ */
#section-2 {
    display: flex;
    flex-direction: column;
    padding: 2em 0;

    .section-2-presentation {
        padding: 0 2em 2em 2em;

        h2 {
            font-size: 2em;
            color: $dark-blue;
            text-align: center;
            padding-bottom: .5em;
        }

        p {
            font-weight: 400;
            font-size: .9em;
            color: $dark-grayish-blue;
            text-align: center;
            line-height: 1.8em;
        }
    }

    .section-2-bullets-points {
        padding: 1em 0 0 1em;

        .bullet-point {
            display: grid;
            grid-template-columns: 65px auto;
            grid-template-rows: auto auto;
            grid-template-areas: 
                                "number title"
                                "paragraph paragraph";

            span {
                grid-area: number;
                background: $very-pale-red;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                justify-self: center;
                align-self: center;
                padding: .4em 0;
                color: white;
                position: relative;
                width: 100%;
            }

            span::before{
                content: attr(data-number);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $bright-red;
                border-radius: 30px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h3 {
                grid-area: title;
                background: $very-pale-red;
                color: $dark-blue;
                font-size: 1em;
                justify-self: center;
                align-self: center;
                width: 100%;
                padding: .4em 0 .4em 1em;
            }

            p {
                grid-area: paragraph;
                font-weight: 400;
                font-size: .9em;
                color: $dark-grayish-blue;
                text-align: left;
                line-height: 1.8em;
                padding: 1em .9em 2em 0;
            }
        }

    }

}

/* --------------------------------- SECTION 3 ------------------------------- */
#section-3 {
    display: flex;
    flex-direction: column;
    
    h2 {
        font-size: 2em;
        color: $dark-blue;
        text-align: center;
        padding-bottom: 2em;
    }

    .review-slider {
        display: flex;
        overflow-x: scroll;
        
        .review {
            flex: 1 0 90%;
            display: flex;
            flex-direction: column;
            position: relative;
            background: $very-light-grey;
            margin: 45px 5% 0 5%;
            padding: 2em 1em;

            img {
                margin: 0 auto;
                margin-top: -70px;
                width: 80px;
                clip-path: circle(100px at center);
                object-fit: scale-down;
                background: transparent;
            }

            .review-bottom-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                cite {
                    text-align: center;
                    font-style: normal;
                    color: $dark-blue;
                    font-weight: 700;
                    padding: 1em 0;
                }
    
                blockquote {
                    text-align: center;
                    color: $dark-grayish-blue;
                    font-weight: 400;
                    line-height: 1.8em;
                }
            }
        }
    }

    .slide-number {
        margin: 0 auto;
    }

    a {
        margin: 0 auto;
    }
}
