@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

// Partials
@import "header";
@import "section-1";
@import "section-2";
@import "section-3";
@import "bottom-banner";
@import "footer";
@import "media-queries";

// Font family
$font-stack: 'Be Vietnam', sans-serif;

// Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-grey: hsl(0, 0%, 98%);

$focus-red: hsl(12, 79%, 71%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: $font-stack;
    position: relative;
    padding-bottom: 20px;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: $very-dark-blue;
    color: white;
    font-size: .9em;
}

/* ------------------------------------ GENERAL RULES -------------------------------- */

a {
    text-decoration: none;
}

.error {
    border: 1px solid $bright-red;
    color: $bright-red;
}

.get-started-button {
    font-family: $font-stack;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 35px;
    background: $bright-red;
    font-weight: 700;
    position: relative;
}

.get-started-button::after {
        content:"";
        position:absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        bottom:1px;
        z-index:-1;
        transform:scale(.9);
        box-shadow: 0px 0px 15px 4px $bright-red;
}

.get-started-button:hover, .get-started-button:focus {
    background: $focus-red;
}

/* -------------------------------- CONTAINER ---------------------------------- */
#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

#container::before {
    position: absolute;
    content: '';
    background: url('/images/bg-tablet-pattern.svg') no-repeat top -50px right -90px;
    background-size: contain;
    // width: 814px;
    // height: 814px;
    // max-width: 70%;
    // max-height: 70%;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#container::after {
    position: absolute;
    content: '';
    background-image: url('/images/bg-tablet-pattern.svg');
    background-position: top 20% right -220px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -5;
}

/* --------------------------------- MAIN CONTENT ------------------------------- */
main {
    display: flex;
    flex-direction: column;
}
