@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$font-stack: 'Montserrat', sans-serif;

// Colors
$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);
$button-purple: hsl(237, 63%, 64%);

//Gradient
$card-gradient: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$button-gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    font-family: $font-stack;
    color: $grayish-blue;
    background: $very-light-grayish-blue;
    padding-bottom: 20px;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 11.2px;
    font-size: .7rem;
}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    overflow-x: hidden;
   
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/bg-top.svg') right -150px top -5% no-repeat, url('/images/bg-bottom.svg') left 0 bottom 0 no-repeat;
}

// Toggle button
.top-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 64px 0;
    padding: 4rem 0;
    gap: 32px;
    gap: 2rem;
    
}

.toggle-div {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    gap: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    h3 {
        color: $light-grayish-blue;
        font-size: 14.4px;
        font-size: .9rem;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $button-gradient;
        -webkit-transition: 400ms;
        transition: 400ms;
        border-radius: 30px;
    }

    .slider:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        border-radius: 50%;
        background: white;
        -webkit-transition: 400ms;
        transition: 400ms;
    }

    input:hover + .slider {
        background: $light-grayish-blue;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
                transform: translateX(26px);
    }
}

// Card Price Components
.bottom-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    gap: 32px;
    gap: 2rem;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    padding: 2em;

    .card-title {
        font-size: 17.6px;
        font-size: 1.1rem;
        padding-bottom: 32px;
        padding-bottom: 2rem;
    }

    .card-price {
        font-size: 64px;
        font-size: 4rem;
        padding-bottom: 32px;
        padding-bottom: 2rem;
    }

    .card-details {
        font-size: 14.4px;
        font-size: .9rem;
        width: 98%;
        text-align: center;
        border-bottom: 1px solid $light-grayish-blue;
        padding: 16px;
        padding: 1rem;
    }

    .card-button {
        width: 100%;
        outline-offset: 1px;
        font-family: $font-stack;
        border: none;
        padding: 16px 0;
        padding: 1rem 0;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        letter-spacing: .2rem;
        font-weight: 400;
        font-size: 11.2px;
        font-size: .7rem;
        border-radius: 5px;
    }
}

.card p:nth-child(3) {
    border-top: 1px solid $light-grayish-blue;
}

.card p:nth-child(5) {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

// Colors for white/blue cards and blue card slightly higher
.white-card {
    background: white;

    p:nth-child(2) {
        color: $dark-grayish-blue;
    }

    button {
        background: $button-gradient;
        color: white;
        outline: white;
    }

    button:hover {
        background: white;
        color: $button-purple;
        box-shadow: 0 0 0 1pt $grayish-blue;
    }
}

.blue-card {
    background: $card-gradient;
    color: white;
    padding: 3em 2em;

    button {
        background: white;
        color: $button-purple;
        outline: $button-purple;
    }

    button:hover {
        background: $button-purple;
        color: white;
        box-shadow: 0 0 0 1pt white;
    }
}

@media screen and (min-width: 900px) {
    
    body {
        overflow-x: hidden;
    }

    body:before {
        background: url('/images/bg-top.svg') right 0 top -10% no-repeat, url('/images/bg-bottom.svg') left 0 bottom 0 no-repeat;
    }

    #container {
        margin-top: -20px;
    }

    .bottom-div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 0;
    }
}

@media screen and (min-width: 1100px) {

    .card {
        width: 350px;
    }
}