/* This is the main Scss file
Includes variables and partials
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* ------ Variables */

/* Fonts */
$font-family: 'Space Mono', monospace;

/* Colors */
/* Primary */
$strong-cyan: hsl(172, 67%, 45%);

/* Natural */
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan-1: hsl(186, 14%, 43%);
$dark-grayish-cyan-2: hsl(184, 14%, 56%);
$light-grayish-cyan-1: hsl(185, 41%, 84%);
$light-grayish-cyan-2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

/* ------ Partials */

@import 'containers';
@import 'tip-inputs';
@import 'tip-results';
@import 'tip-container';